[submodule "MathGame-JS-Project"]
	path = MathGame-JS-Project
	url = https://github.com/AmitBokobza/MathGame-JS-Project.git
[submodule "PageBuilder-JS-Project"]
	path = PageBuilder-JS-Project
	url = https://github.com/AmitBokobza/PageBuilder-JS-Project.git
[submodule "MemoryGame-JS-Project"]
	path = MemoryGame-JS-Project
	url = https://github.com/AmitBokobza/MemoryGame-JS-Project.git
[submodule "TicTacToe-JS-Project"]
	path = TicTacToe-JS-Project
	url = https://github.com/AmitBokobza/TicTacToe-JS-Project.git
[submodule "UserManagment-JS-Project"]
	path = UserManagment-JS-Project
	url = https://github.com/AmitBokobza/UserManagment-JS-Project.git
[submodule "ShoppingList"]
	path = ShoppingList
	url = https://github.com/AmitBokobza/ShoppingList.git
